@font-face {
	font-family: 'MontserratBold';
	src: url('fonts/MontserratBold/Montserrat-Bold.eot');
	src: url('fonts/MontserratBold/Montserrat-Bold.woff') format('woff'), 
         url('fonts/MontserratBold/Montserrat-Bold.ttf') format('truetype'), 
         url('fonts/MontserratBold/Montserrat-Bold.svg') format('svg');
}

@mixin bold {
    font-family: 'MontserratBold', sans-serif;
    font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MontserratRegular';
	src: url('fonts/MontserratRegular/Montserrat-Regular.eot');
	src: url('fonts/MontserratRegular/Montserrat-Regular.woff') format('woff'), 
         url('fonts/MontserratRegular/Montserrat-Regular.ttf') format('truetype'), 
         url('fonts/MontserratRegular/Montserrat-Regular.svg') format('svg');
}

@mixin reg {
    font-family: 'MontserratRegular', sans-serif;
    font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'QuicksandRegular';
	src: url('fonts/QuicksandRegular/Quicksand-Regular.eot');
	src: url('fonts/QuicksandRegular/Quicksand-Regular.woff') format('woff'), 
         url('fonts/QuicksandRegular/Quicksand-Regular.ttf') format('truetype'), 
         url('fonts/QuicksandRegular/Quicksand-Regular.svg') format('svg');
}

@mixin quicksand {
    font-family: 'QuicksandRegular', sans-serif;
    font-weight: 400;
	font-style: normal;
}

// Стили типов текста

@mixin sectionText($textTransform: none) {
    font-size: 24px;
    line-height: 29px;
    text-transform: $textTransform;
}

@mixin titleText($textTransform: none) {
    font-size: 19px;
    line-height: 23px;
    text-transform: $textTransform;
}

@mixin labelText($textTransform: uppercase) {
    font-size: 12px;
    line-height: 15px;
    text-transform: $textTransform;
}

@mixin pageText($textTransform: none, $lineHeight: 24px) {
    font-size: 14px;
    line-height: $lineHeight;
    text-transform: $textTransform;
}

// UI kit стили

@import '../colors/colors';

.text{
    &__card {
        display: flex;
        margin-bottom: 51px;
        &_section {
            @include sectionText
        }
        &_title {
            @include titleText
        }
        &_label {
            @include labelText
        }
        &:last-child {
            margin: 0;
        }
    }

    &__title {
        width: 37px;
        text-align: right;
        @include dark(0.25);
        &_normal {
            @include reg
        }
    }

    &__subtitle {
        @include bold;
        @include dark;
        margin-left: 30px;
        width: 369px;
        &_normal {
            @include reg
        }
    }
}