div(class= 'text__card text__card_section')
    div(class= 'text__title text__title_normal') H1
    .text__subtitle
        p
        |This one is the sub-section or
        |widget title
div(class= 'text__card text__card_title')
    div(class= 'text__title text__title_normal') H2
    .text__subtitle
        p
        |Next one is the item title inside
        |widgets
div(class= 'text__card text__card_label')
    div(class= 'text__title text__title_normal') H3
    .text__subtitle This is a label or CTA text
.text__card
    .text__title Body
    div(class = 'text__subtitle text__subtitle_normal')
        p
        |This is the body text which is used for most
        p
        |of the design, like paragraphs, lists, etc.