div(class= 'text__card h1')
    div(class= 'text__title text__title_normal') H1
    .text__subtitle
        |This one is the sub-section or
        |widget title
div(class= 'text__card h2')
    div(class= 'text__title text__title_normal') H2
    .text__subtitle
        |Next one is the item title inside
        |widgets
div(class= 'text__card h3')
    div(class= 'text__title text__title_normal') H3
    .text__subtitle This is a label or CTA text
.text__card
    .text__title Body
    .text__subtitle
        |This is the body text which is used for most
        br
        |of the design, like paragraphs, lists, etc.