mixin  range-slider(options)

    .range
        .range__descr
            h3(class = "range__title main-title") Range Slider
            div.range__subtitle
                span.range__min-counter 5 000
                span ₽ - 
                span.range__max-counter 10 000
                span ₽
        .range__bar
            .range__select