// Fonts and fonts mixin
@import './colors_and_text/textTypes/fonts';
// Colors and gradient
@import './colors_and_text/colors/colors';
// Input and dropdawn input
@import './form_elements/input/input';
// Checkbox
@import './form_elements/checkbox/checkbox';
// Radio
@import './form_elements/radio/radio';
// Switch
@import './form_elements/switch/switch';
// Like Button
@import './form_elements/like/like';
// Rate Button
@import './form_elements/rate/rate';
// Buttons
@import './form_elements/button/button';
// Range slider
@import './form_elements/range_slider/range';
// Pagination
@import './form_elements/pagination/pagination';
// Bullet list
@import './form_elements/list/list';
// Comment
@import './form_elements/comment/comment';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
input,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.page {
    margin: 0;
    padding: 0;
    @include reg;
    @include pageText;
    @include dark(0.75);
}

.container {
    max-width: 1980px;
    padding: 0 140px;
    margin: 0 auto;
}

.main-title {
    @include bold;
    @include dark;
    @include labelText(uppercase);
}

.hidden-content {
    display: none;
}

// UI kit стили

.section-wrapper {
    display: flex;
    justify-content: space-between;
    
    &__comment {
        align-items: center;
    }
}

.types {
    padding-top: 140px;
    margin-bottom: 100px;
}

.form__elements {
    margin-bottom: 100px;
}

