// Шрифты и их миксины
@import './modules/fonts';
// Цвета
@import './modules/colors';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.normal {
    @include normal
}
.bold {
    @include bold
}
.another {
    @include quicksand
}
