extends ../templates/main
include colors_and_text/colors/colors
include form_elements/input/input
include form_elements/checkbox/checkbox
include form_elements/radio/radio
include form_elements/switch/switch
include form_elements/like/like
include form_elements/rate/rate
include form_elements/button/button
include form_elements/range_slider/range
include form_elements/pagination/pagination
include form_elements/comment/comment

block content
    .types
        .container
            section.section-wrapper
                .colors
                    +colorsBlock("dark100", "Dark Shade 100%")
                    +colorsBlock("dark75", "Dark Shade 75%")
                    +colorsBlock("dark50", "Dark Shade 50%")
                    +colorsBlock("dark25", "Dark Shade 25%")
                    +colorsBlock("dark5", "Dark Shade 5%")
                    +colorsBlock("purple", "Purple", "#BC9CFF")
                    +colorsBlock("green", "Green", "#6FCF97")
                .text
                    include colors_and_text/textTypes/fonts
    .form
        .container
            .form__elements
                section.section-wrapper
                    .inputs
                        +inputField({type: "text", placeholder: "Email", title: "Text Field", subtitle: "Default", inputField: "small-margin"})
                        +inputField({type: "text", placeholder: "This is pretty awesome", title: "Text Field", subtitle: "Hover / Focus", inputClass: "input__content_active", inputField: "small-margin"})
                        +dropdownField({text: "Сколько гостей", title: "Dropdown", dropdownField: "small-margin", guest: true, zeroNum: true})
                        +inputField({type: "text", placeholder: "ДД.ММ.ГГГГ", title: "masked text field", inputClass: "js-input__content-date", inputField: "big-margin"})
                        div(class = "dropdown__date big-margin")
                            +dropdownDateField({text: "ДД.ММ.ГГГГ", title: "date dropdown", inputClass: "input__content_small"})
                            +dropdownDateField({text: "19.08.2019", title: "date dropdown", inputClass: "input__content_small"})
                        +dropdownDateField({text: "19 авг - 23 авг", title: "filter date dropdown", dropdownField: "big-margin", inputClass: "input__content_middle"})
                        +subField({type: "text", placeholder: "Email", title: "subscription text field", inputClass: "input__content_middle", isPurple: true})
                    .toggles
                        +checkButton({title: "Checkbox Buttons", isChecked: true, checkField: "big-margin", data: true})
                        +radioButton({title: "Radio Buttons", isChecked: true, radioField: "big-margin"})
                        +switchButton({hideTitle: false, switchButtonActive: true})
                        +switchButton({hideTitle: true, switchField: "big-margin"})
                        div(class = "like-field big-margin")
                            h3(class = "like-field__title main-title") like button
                            .like-field__content
                                +likeButton({num: 2})
                                +likeButton({isLiked: true, num: 12})
                        .rating-field
                            h3(class = "rating-field__title main-title") rate button
                            .rating-field__content
                                +rateButton(4)
                                +rateButton(5)
                    .buttons
                        +range-slider
                        div.button-wrapper
                            h3(class = "button-wrapper__title main-title") buttons
                            .button-wrapper__content
                                .button-wrapper__normal
                                    +button({text: "click me"})
                                    +button({text: "click me", isActive: true})
                                    +button({text: "click me", whiteButton: true})
                                    +button({text: "click me", whiteButton: true, isActive: true})
                                .button-wrapper__descr
                                    span.button-wrapper__text click me
                                    span(class = "button-wrapper__text button-wrapper__text_dark") click me
                                .button-wrapper__big
                                    +button({text: "перейти к оплате", bigButton: true, arrow: true})
                        +pagination({title: true})
        .container
            .form__elements
                section(class = "section-wrapper section-wrapper__dropdawn")
                    div
                        div
                            +dropdownField({text: "2 спальни, 2 кровати...", title: "Dropdown", subtitle: "default", dropdownField: "small-margin", inputClass: "input__content_middle"})
                            +dropdownField({text: "2 спальни, 2 кровати...", title: "Dropdown", subtitle: "expanded", dropdownField: "big-margin", inputClass: "input__content_middle", panel: true, dropdownAmenitiesData: true})
                        div
                            +expandableCheckButton({title: "expandable checkbox list", isChecked: true, checkField: "big-margin"})
                            +expandableCheckButton({title: "expandable checkbox list", isChecked: true, dataPanel: true})
                    div
                        div
                            +dropdownField({text: "Сколько гостей", title: "Dropdown", dropdownField: "big-margin", guest: true, zeroNum: true, panel: true})
                        div
                            +richCheckButton({title: "rich Checkbox Buttons", data: true})
                    div
                        +dropdownField({text: "3 гостя", title: "Dropdown", dropdownField: "big-margin", dropdownGuestData: true, panel: true})
                        include form_elements/list/list
            
            .form__elements
                section(class = "section-wrapper section-wrapper__comment")
                    .conditions-wrapper
                        +roomConditions({src: "./img/smile.svg", title: "Комфорт", subtitle: "Шумопоглащающие стены"})
                        +roomConditions({src: "./img/city.svg", title: "Удобство", subtitle: "Окно в каждой из спален"})
                    .interface-comment
    .form
        .container
            section.section-wrapper
                .form__cards
                    div
                        include cards/search_form/search