extends ../templates/main

block content
    .wrapper
        .h1 This one is the sub-section or widget title
        .h2 Next one is the item title inside widgets
        .h3 This is a label or CTA text
        div 
            | This is the body text which is used for most
            | of the design, like paragraphs, lists, etc.