extends ../templates/main
include colors/colors

block content
    .types
        .page__container
            .types-block
                .colors
                    +colorsBlock('dark100', 'Dark Shade 100%')
                    +colorsBlock('dark75', 'Dark Shade 75%')
                    +colorsBlock('dark50', 'Dark Shade 50%')
                    +colorsBlock('dark25', 'Dark Shade 25%')
                    +colorsBlock('dark5', 'Dark Shade 5%')
                    +colorsBlock('purple', 'Purple', '#BC9CFF')
                    +colorsBlock('green', 'Green', '#6FCF97')
                .text
                    include textTypes/fonts
                    