extends ../templates/main
include colors/colors
include form_elements/inputs/input
include form_elements/toggles/toggle
include form_elements/buttons/button

block content
    //- .types
        .container
            section.section-wrapper
                .colors
                    +colorsBlock("dark100", "Dark Shade 100%")
                    +colorsBlock("dark75", "Dark Shade 75%")
                    +colorsBlock("dark50", "Dark Shade 50%")
                    +colorsBlock("dark25", "Dark Shade 25%")
                    +colorsBlock("dark5", "Dark Shade 5%")
                    +colorsBlock("purple", "Purple", "#BC9CFF")
                    +colorsBlock("green", "Green", "#6FCF97")
                .text
                    include textTypes/fonts
    .form
        .container
            .form__elements
                section.section-wrapper
                    .inputs
                        +inputField({type: "text", placeholder: "Email", title: "Text Field", subtitle: "Default", inputField: "small-margin"})
                        +inputField({type: "text", placeholder: "This is pretty awesome", title: "Text Field", subtitle: "Hover / Focus", inputClass: "input__content_active", inputField: "small-margin"})
                        +dropdawnField({text: "Сколько гостей", title: "Dropdown", dropdawnField: "small-margin"})
                        +inputField({type: "text", placeholder: "ДД.ММ.ГГГГ", title: "masked text field", inputClass: "js-input__content-date", inputField: "big-margin"})
                        div(class = "dropdawn__date big-margin")
                            +dropdawnDateField({text: "ДД.ММ.ГГГГ", title: "date dropdown", inputClass: "input__content_small"})
                            +dropdawnDateField({text: "19.08.2019", title: "date dropdown", inputClass: "input__content_small"})
                        +dropdawnDateField({text: "19 авг - 23 авг", title: "filter date dropdown", dropdawnField: "big-margin", inputClass: "input__content_middle"})
                        +subField({type: "text", placeholder: "Email", title: "subscription text field", inputClass: "input__content_middle", isPurple: true})
                    .toggles
                        +checkButton({title: "Checkbox Buttons", isChecked: true, checkField: "big-margin"})
                        +radioButton({title: "Radio Buttons", isChecked: true, radioField: "big-margin"})
                        +switchButton({hideTitle: false, switchButtonActive: true})
                        +switchButton({hideTitle: true, switchField: "big-margin"})
                        div(class = "like-field big-margin")
                            h3(class = "like-field__title main-title") like button
                            .like-field__content
                                +likeButton({})
                                +likeButton({isLiked: true})
                        .rating-field
                            h3(class = "rating-field__title main-title") rate button
                            .rating-field__content
                                +rateButton(4)
                                +rateButton(5)
                    .buttons
                        +range-slider
                        div.button-wrapper
                            h3(class = "button-wrapper__title main-title") buttons
                            .button-wrapper__content
                                .button-wrapper__normal
                                    +button({text: "click me"})
                                    +button({text: "click me", isActive: true})
                                    +button({text: "click me", whiteButton: true})
                                    +button({text: "click me", whiteButton: true, isActive: true})
                                .button-wrapper__descr
                                    span.button-wrapper__text click me
                                    span(class = "button-wrapper__text button-wrapper__text_dark") click me
                                .button-wrapper__big
                                    +button({text: "перейти к оплате", bigButton: true, arrow: true})
                        +pagination({title: true})
        .container
            .form__elements
                section.section-wrapper
                    .drop-checkbox
                        +dropdawnField({text: "2 спальни, 2 кровати...", title: "Dropdown", subtitle: "default", dropdawnField: "small-margin", inputClass: "input__content_middle"})
                        +dropdawnField({text: "2 спальни, 2 кровати...", title: "Dropdown", subtitle: "expanded", inputClass: "input__content_middle"})
                    //- .drop-expanded