.range {
    width: 266px;
    margin-bottom: 40px;

    &__descr {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        @include labelText;
        @include dark(0.5);
    }

    &__bar {
        display: flex;
        justify-content: center;
        width: 266px;
        height: 6px;
        @include dark(0.25, border);
        border-radius: 3px;
    }

    &__select {
        width: 88px;
        height: 6px;
        background: linear-gradient($secondaryGradient);
        position: relative;

        &::before {
            content: "";
            cursor: pointer;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -5px;
            left: -6px;
            background: linear-gradient($secondaryGradient);
            border: 2px solid #FFFFFF;
            border-radius: 10px;
        }

        &::after {
            content: "";
            cursor: pointer;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -5px;
            right: -6px;
            background: linear-gradient($secondaryGradient);
            border: 2px solid #FFFFFF;
            border-radius: 10px;
        }
    }
}

.button {
    position: relative;

    &-big {
        width: 320px;
    }

    &-wrapper {
        &__title {
            margin-bottom: 16px;
        }

        &__normal {
            width: 220px;
            height: 118px;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            flex-wrap: wrap;
        }

        &__big {
            margin-bottom: 40px;
        }

        &__descr {
            margin: 30px 0 30px 0;
        }

        &__text {
            @include bold;
            @include labelText(uppercase);
            color: $mainColor;
            margin-right: 20px;
            &_dark {
                @include dark(0.5);
            }
        }
    }

    &__content {
        cursor: pointer;
        padding: 14px 20px 15px 20px;
        border-radius: 22px;
        background: linear-gradient($primaryGradient);
        color: white;
        @include bold;
        @include labelText(uppercase);
        border: none;
        outline: none;

        &:active {
            opacity: 0.5;
        }

        &_white {
            padding: 12px 18px 13px 18px;
            border: 2px solid $mainColor;
            color: $mainColor;
            background: white;
            &:active {
                opacity: 1;
                border: 2px solid $transparentMainColor;
            }
        }

        &_active {
            opacity: 0.5;
            &-white {
                opacity: 1;
                border: 2px solid $transparentMainColor;
            }
        }
    }
}

.pagination {
    width: 240px;

    &__title {
        margin-bottom: 16px;
    }

    &__number {
        cursor: pointer;
        width: 40px;
        height: 40px;
        @include dark(0.5);
        @include labelText;
        border: none;
        border-radius: 22px;
        outline: none;
        background: transparent;
        margin-bottom: 11px;

        &_active {
            color: white;
            @include bold;
            background: linear-gradient($primaryGradient);
        }
    }

    &__arrow {
        position: relative;
        background: linear-gradient($secondaryGradient);
        color: transparent;
    }

    &__subtitle {
        @include dark(0.75);
        text-align: center;
    }
}