.list {
    &__title {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        position: relative;
        display: flex;
        margin-bottom: 10px;
        &:last-child {
            margin: 0;
        }

        &-text {
            max-width: 235px;
        }
        &::before {
            content: '';
            margin-top: 7px;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            @include dark(0.5, background);
            border-radius: 22px;
        }
    }

    &-content {
        overflow: hidden;
    }
}