.list
    div(class = "list__title main-title")
        p bullet list
    div(class = "list-content")
        ul 
            li.list__item
                span.list__item-text Нельзя с питомцами
            li.list__item
                span.list__item-text Без вечеринок и мероприятий
            li.list__item
                span.list__item-text Время прибытия — после 13:00, а выезд до 12:00