mixin colorsBlock(colorCoub, title, subtitle="#1F2041")
    .colors__card
        div(class=`colors__coub colors__coub_${colorCoub}`)
        .colors__description
            .colors__title= title
            .colors__subtitle= subtitle