@keyframes dropToggle {
    0% {
        // opacity: 0;
        transform: rotateX(-90deg);
        transform: rotateY(-90deg);
    }
    100% {
        // opacity: 1;
        transform: rotateX(0);
        transform: rotateY(0);
    }
}
.drop-show {
    animation: dropToggle 0.2s ease;
}

.input {
    
    display: flex;
    flex-direction: column;

    &__description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        &:last-child {
            margin: 0;
        }
    }

    &__subtitle {
        @include dark(0.5);
        @include labelText(uppercase);
    }

    &__content {
        @include dark(0.25, border);
        @include reg;
        @include dark(0.75);
        padding-left: 15px;
        width: 320px;
        height: 44px;
        border-radius: 4px;
        outline: none;
        &::placeholder {
            @include dark(0.25);
        }
        &_active {
            @include dark(0.5, border);
            &::placeholder {
                @include dark(0.75);
            }

        }
        &_small {
            width: 150px;
        }
        &_middle {
            width: 266px;
        }
    }
    
    &__dropdown {
        display: block;
    }
}

.dropdown {
    cursor: pointer;

    &__field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include pageText;
        @include reg;
        @include dark(0.75);
        height: 100%;
    }

    &__date {
        display: flex;
        justify-content: space-between;
    }

    &-panel {
        cursor: default;
        user-select: none;
        @include dark(0.5, border);
        padding: 7px 7px 0 15px;
        max-height: 100%;
        overflow: hidden;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: ease 2s;
    
        &-input {
            @include dark(0.5, border);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
        }
    
        &__content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0;
            }
            
        }
    }

}

.arrow {
    cursor: pointer;
    width: 44px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-right: 2px solid rgba(31, 32, 65, 0.5);
        border-top: 2px solid rgba(31, 32, 65, 0.5);
        transform: rotate(135deg);
    }

    &__subscribe {
        position: relative;
        width: 14px;
        height: 2px;
        background: white;
        left:0;
        display: block;

        &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            top: -3px;
            right: -2px;
            background: white;
            transform: rotate(45deg);
        }

        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            top: 3px;
            right: -2px;
            background: white;
            transform: rotate(-45deg);
        }

        &_purple,
        &_purple::after,
        &_purple::before {
            background: linear-gradient($primaryGradient);
        }
    }
}

.sub-wrapper {
    position: relative;
    display: inline-block;
    &__arrow {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.counter {

    &__content {
        width: 92px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__min,
    &__max {
        cursor: pointer;
        width: 30px;
        height: 30px;
        @include dark(0.5);
        @include dark(0.5, border);
        border-radius: 22px;
        background: #FFFFFF;
        font-size: 18px;
        line-height: 22px;
        outline: none;

        &:disabled {
            cursor: default;
            @include dark(0.25);
            @include dark(0.25, border);
        }
    }

    &__min {
        &_disabled {
            @include dark(0.25);
            @include dark(0.25, border);
        }
    }
}

.choice-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 14px;
    
    &__decline, &__accept {
        cursor: pointer;
        @include labelText;
        @include bold;
        color: $mainColor;
        outline: none;
        border: none;
        background: #FFFFFF;
        padding: 0;
    }
}

.small-margin {
    margin-bottom: 20px;
}

.big-margin {
    margin-bottom: 40px;
}