mixin roomConditions(settings)
    .conditions
        .conditions__content
            .conditions__icon
                img(src=`${settings.src}`, alt="Изображение условия")
            .conditions__descr
                .conditions__title= settings.title
                .conditions__subtitle= settings.subtitle