@keyframes select {
    from {opacity: 0;}
    50% {opacity: 0.5;}
    to {opacity: 1;}
}

.checkbox {
    &__title {
        padding-bottom: 16px;
    }

    &__descr {
        cursor: pointer;
        display: flex;
        position: relative;
        @include pageText(none, 18px);
        @include dark(0.5);
        margin-bottom: 10px;
        &:last-child {
            margin: 0;
        }
        user-select: none;
    }

    &__input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        &+.checkbox__descr::before {
            content: '';
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            @include dark(0.25, border);
            border-radius: 4px;
            background: #FFFFFF;
            margin-right: 10px;
        }

        &:checked+.checkbox__descr::before {
            border: 1px solid $purple;
        }

        &:checked+.checkbox__descr::after {
            content: '';
            position: absolute;
            top: 6px;
            left: 6px;
            width: 8px;
            height: 6px;
            border-width: 2px;
            border-style: solid;
            border-left: none;
            border-bottom: none;
            border-color: transparent;
            border-image: linear-gradient($primaryGradient);
            border-image-slice: 1;
            transform: rotate(135deg);
            animation: select 0.2s linear;
        }
    }
}

.radio {
    &__title {
        padding-bottom: 14px;
    }

    &__descr {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;
        margin-right: 20px;
        &:last-child {
            margin: 0;
        }
        user-select: none;
    }

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &+.radio__descr::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            @include dark(0.25, border);
            border-radius: 10px;
            margin-right: 10px;
        }

        &:checked+.radio__descr::before {
            border: 1px solid $purple;
        }

        &:checked+.radio__descr::after {
            content: '';
            position: absolute;
            top: 6px;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 10px;
            background: linear-gradient($primaryGradient);
            animation: select 0.2s linear;
        }
    }
}

.switch {
    &__title {
        padding-bottom: 16px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__descr {
        cursor: pointer;
    }

    &__btn {
        cursor: pointer;
        display: inline-block;
        position: relative;
        width: 40px;
        height: 20px;
        @include dark(0.25, border);
        border-radius: 10px;
        margin-right: 10px;

        &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 3px;
            left: 3px;
            @include dark(0.25, background);
            border-radius: 10px;
        }

        &_active {
            border: 1px solid $purple;

            &::after {
                left: 23px;
                background: linear-gradient($primaryGradient);
            }
        }
    }

}