mixin checkButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let checkField = ("checkbox")
        if(Boolean(options.checkField) == true) {
            checkField += ` ${options.checkField}`
        } else {
            checkField = checkField
        }

    div(class = checkField)
        h3(class = "checkbox__title main-title")= options.title
        .checkbox__wrapper
            input(type = "checkbox", id = "smoking", class = "checkbox__input")
            label(for = "smoking", class = "checkbox__descr")
                span Можно курить

            input(type = "checkbox", id = "pets", class = "checkbox__input", checked = isChecked)
            label(for = "pets", class = "checkbox__descr")
                span Можно с питомцами

            input(type = "checkbox", id = "frends", class = "checkbox__input", checked = isChecked)
            label(for = "frends", class = "checkbox__descr")
                span  
                    |Можно пригласить гостей
                    br
                    |(до 10 человек)

mixin radioButton(options)
    -
        let isChecked = false
        if(options.isChecked == true) {
            isChecked = true
        }

        let radioField = ("radio")
        if(Boolean(options.radioField) == true) {
            radioField += ` ${options.radioField}`
        } else {
            radioField = radioField
        }

        let radioTitle = ("radio__title main-title")
        if(options.hideTitle == true) {
            radioTitle = ("hidden-content")
        }

    div(class = radioField)
        h3(class = radioTitle)= options.title
        .radio__wrapper
            input(type = "radio", name = "sex",id = "man", class = "radio__input", checked = isChecked)
            label(for = "man", class = "radio__descr")
                span Мужчина
            
            input(type = "radio", name = "sex",id = "woman", class = "radio__input")
            label(for = "woman", class = "radio__descr")
                span Женщина

mixin switchButton(options)
    -
        let switchTitle = ("switch__title main-title")
        if(options.hideTitle == true) {
            switchTitle = ("hidden-content")
        }

        let switchButton = ("switch__btn")
        if(options.switchButtonActive == true) {
            switchButton += " switch__btn_active"
        } else {
            switchButton = ("switch__btn")
        }

    .switch
        h3(class = switchTitle) toggle
        .switch__wrapper
            div(class = switchButton)
            span.switch__descr Получать спецпредложения
